@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #6366f1;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}
